{% extends "base.html" %}
{% from 'macros.html' import render_field %}
{% block title %}POP | Register{% endblock %}

{% block header %}<a class="link" href="{{ url_for('login') }}"  title="Register">Login</a>{% endblock %}
{% block content %}
<form method="POST" action="" class="form register">
    {{ form.hidden_tag() }}
    {% for field in form %}
        {{ render_field(field) }}
    {% endfor %}
    <button class="big-button" type="submit" id="submit">Register!</button>
</form>
{% endblock %}